* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: whitesmoke;
    font-family: "Jost", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
}

.logo {
    padding: 1.5rem;
}

.logo  h2 {
    color: #cf0001;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 2rem;
}

li a {
    text-decoration: none;
}

.social-icons {
    font-size: 1.5rem;
    margin: 2rem;
}

.hero {
    display: flex;
    justify-content: space-around;
}

.hero-img { /* dot for a class or multiple elements */
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.hero-content {
    line-height: 4rem;
    font-size: 2rem;
}

#name { /* hastag for an id or single element */
    color: blue;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: cadetblue;
    color: white;
    border: none;
}

.tech-stack {
    text-align: center;
}

.tech-stack-icons {
    font-size: 4rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
}

.card {
    width: 20rem;
    height: 24rem;
    background-color: white;
}

.about {
    text-align: center;
    margin-top: 3rem;
}

.workexperience-content {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
}

.btn-job {
    width: 4rem;
    background-color: red;
    color: white;
    border-radius: 1.5rem;
    height: 1.5rem;
    border: none;
}

.line {
    border-bottom: 2px solid black;
    display: block;
    width: 60%;
    margin-left: 15%;
}